.input {
  padding: 6px 8px;
  border-radius: 7%;
  outline: none;
}
.input:focus {
  border: 2px solid #03a9f4;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 15px;
}

.form {
  padding: 30px 30px;
}

.button {
  background: #03a9f4;
  border-radius: 10%;
  outline: none;
  color: white;
  padding: 6px 10px;
  border-color: #6f97a8;
  transition: transform 300ms linear;
}
.button:focus,
.button:hover {
  transform: scale(1.25);
}

.button:active {
  color: #03a9f4;
  background: transparent;
}
