.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label:focus-within {
  color: rgb(215 163 6 / 75%);
}

.input {
  padding: 6px 8px;
  width: 250px;
  font-size: 22px;
  border: 4px double rgba(29, 23, 204, 0.55);
  border-radius: 30%;
  outline: none;
}
.input:focus {
  border-color: rgb(215 163 6 / 75%);
}
