.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 30px;
}

.input {
  padding: 6px 8px;
  border-radius: 7%;
  outline: none;
}
.input:focus {
  border-color: #03a9f4;
}
